<div class="m-333">
    <button mat-raised-button class="mb-05" (click)="ExportTOExcel()" color="primary">{{"ADD" | translate }}
        {{"MEMBER" | translate }}</button>
</div>
<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <mat-card-content class="p-0">
        <ngx-datatable class="material ml-0 mr-0" [rows]="data" [columnMode]="'force'" #TABLE [headerHeight]="50"
            [footerHeight]="50" [scrollbarH]="true" [limit]="10" [rowHeight]="50">
            <ngx-datatable-column name="Number" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.RequestID }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Type" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.RequestName }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="CreatedDate" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.CreatedDate }}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{ row?.Inactive }}
                    <span class="badge badge-secondary">Inactive</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <mat-chip mat-sm-chip [color]="'primary'" [selected]="row.isActive">
                        {{row.isActive ? 'active' : 'inactive'}}
                    </mat-chip>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [flexGrow]="1">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button mat-icon-button mat-sm-button color="primary" class="mr-1"
                        [routerLink]="['/employeeorders/NewOrders/Amendment/'+ row.RequestID]">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button mat-sm-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </mat-card-content>
</mat-card>