
        <mat-card class="p-0">
          <mat-card-title class="">
              <!-- <div class="card-title-text"> {{ "CHANGE_PASSWORD" | translate }}    </div> -->
              <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>

        <form method="post" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          
          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-16">
              
                <div class="pb-16">
                    <mat-form-field class="full-width">
                      <input type="text"
                      matInput
                       class="form-control" name="UserName" formControlName="UserName" placeholder="UserName"
                      autocomplete="UserName" id="UserName" readonly>
                    </mat-form-field> 
                  </div> 


                <div class="pb-16">
                    <mat-form-field class="full-width"> 
                      <input type="password" matInput 
                       class="form-control" name="oldPassword" formControlName="oldPassword"
                        id="oldPassword" placeholder='{{ "PASSWORD" | translate }}'  maxlength="50" required>
                    </mat-form-field>
                    <small 
                    *ngIf="updateForm.controls['oldPassword'].hasError('required') && updateForm.controls['oldPassword'].touched" 
                    class="form-error-msg">    {{ "FILED_IS_REQUIRED" | translate }} </small>
                </div>
 
                <div class="pb-16">
                  <mat-form-field class="full-width">
                  <input 
                      type="password"
                      name="Password"
                      matInput
                      formControlName="newPassword"
                      [pattern]="unamePattern"
                      id="Password"
                      placeholder="Password" 
                      value="">
                  </mat-form-field>
                  <div *ngIf="!newPassword.valid  && (newPassword.dirty || newPassword.touched)" class="form-error-msg">
                    <!-- <div [hidden]="!newPassword.errors.required">
                      Password is required
                    </div>                         -->
                    <div *ngIf="newPassword.errors?.pattern">
                      Passwords must be at least 8 characters and contain at 3 of 4 of the following: upper case
                      (A-Z), lower case (a-z), number (0-9) and special character (e.g. !@#$%^&*)
                    </div>
                    <small 
                    *ngIf="updateForm.controls['newPassword'].errors?.required && newPassword.touched" 
                    class="form-error-msg">   {{ "FILED_IS_REQUIRED" | translate }} </small>
                  </div> 
              </div>

              <div class="pb-16">
                  <mat-form-field class="full-width">
                  <input
                      type="password"
                      name="cpassword"
                      id="cpassword"
                      matInput 
                      formControlName="cpassword"
                      placeholder="Confirm Password"
                      value="">
                  </mat-form-field>
                  <!-- <small 
                  *ngIf="updateForm.controls['cpassword'].hasError('equalTo')" 
                  class="form-error-msg"> Password mismatch </small> -->
                  <div *ngIf="!cpassword.valid  && (cpassword.dirty || cpassword.touched)" class="form-error-msg">
                    <span *ngIf="cpassword.hasError('required')">Confirm Password is required</span>
                    <span *ngIf="cpassword.hasError('mustMatch')">Password Must Match</span>
                  </div>
      
              </div> 

            
            </div>
          </div> 
           

          <button id="register" type="submit" [disabled]="!updateForm.valid" mat-raised-button color="primary">Update
            Password</button>
        </form>
      </mat-card-content>
    </mat-card>

 