<mat-card class="p-0">
    <mat-card-title class="">
        <div class="card-title-text"> Amendment Form / {{title}}</div>
        <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" #basicForm="ngForm" class="form-horizontal">
            <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">





                    <div class="pb-1">
                        <Label>Type</Label>
                        <mat-radio-group aria-label="Select an option" name="Type" [(ngModel)]="type">
                            <mat-radio-button value="CheckIn">CheckIn
                            </mat-radio-button>
                            <mat-radio-button value="CheckOut">CheckOut
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="pb-1">
                        <mat-form-field class="full-width">
                            <mat-label>Justification</mat-label>
                            <textarea matInput rows="2" name="Justification" [(ngModel)]="PatientUsername" minlength="1"
                                #refJustification='ngModel' maxlength="500" id="Justification">
                  </textarea>
                        </mat-form-field>

                        <mat-error *ngIf="refJustification.hasError('minlength') " class="form-error-msg">
                            Username require at least
                            {{refJustification.errors.minlength.requiredLength}} characters </mat-error>
                        <mat-error *ngIf="refJustification.hasError('maxlength') " class="form-error-msg">
                            Username can not contain more than
                            {{refJustification.errors.maxlength.requiredLength}} characters </mat-error>

                    </div>

                    <div class="pb-1">

                        <mat-timepicker id="timepicker-example-2" mode="12h" #refTime withFormField="true"
                            [withIcon]="true">
                        </mat-timepicker>

                    </div>
                    <div class="pb-1">

                        <app-date-picker [(inputModel)]="_dateValue" #ref></app-date-picker>

                    </div>


                </div>

            </div>
            <button mat-raised-button color="primary" [disabled]="basicForm.invalid">Submit</button>
        </form>
    </mat-card-content>
</mat-card>