
.card 
{
     .image img {
          width: 100%;
       }
       .image {
          width: 100%;
          overflow: hidden;
          height: 260px;
          border-radius: 4px 4px 0 0;
          position: relative;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
       }
       .author {
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase;
      }
      .content {
          padding: 15px 15px 10px 15px;
       }
}
  .card-user
  {
     .image {
          height: 110px;
       }
       .author {
          text-align: center;
          text-transform: none;
          margin-top: -70px;
      }
      .content {
          min-height: 240px;
       }
  }
  

 