 
  <mat-card class="p-0"  >
    <mat-card-content class="p-0">
      <ngx-datatable
      class="material ml-0 mr-0"
            [rows]="items"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
            [limit]="10"
            [rowHeight]="50">

        
            <ngx-datatable-column name="{{ 'ORDER_NUMBER' | translate }}" [width]="50">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.RequsetPrivateNumber }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name=" {{ 'ORDER_TYPE' | translate }}" [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{(authService.currentLang=="1")? row.RequestNameEn : row.RequestNameAr }} 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name=" {{ 'EMPLOYEE_NAME' | translate }}" [width]="100">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{(authService.currentLang=="1")? row.EnglishName : row.ArabicName }} 
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name=" {{ 'CREATED_DATE' | translate }}" [width]="50">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.CreatedDate}}
              </ng-template>
            </ngx-datatable-column> 

            <ngx-datatable-column name=" {{ 'ORDER_STATUS' | translate }}" [width]="80">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip   mat-sm-chip  [color]=" row.StatusID == 'CSR01' ? 'primary' : row.StatusID == 2 ? 'accent' : 'accent'" selected>
                    {{(authService.currentLang=="1")? row.StatusNameEN : row.StatusNameAR }} 
                  </mat-chip>
                   </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name=" {{ 'REASON_REJECT' | translate }}" [width]="120">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <input   matInput type="text" name="reason"    [(ngModel)]="row.reason" />
                </ng-template>
              </ngx-datatable-column> 
              
            <ngx-datatable-column  name=" {{ 'ACTIONS' | translate }}" [width]="80">
              <ng-template let-row="row" ngx-datatable-cell-template>                
                <button mat-flat-button   color="primary" class="background2" (click)="approval(row)">
                     {{ "APPROVAL" | translate }} </button>             
                <button mat-flat-button mat-sm-button color="warn" class="mr-16" (click)="reject(row)">
                    {{ "REJECT" | translate }}  </button> 
            </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Stage" [sortable] [width]="20">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-16 color2" 
                title='{{ "ORDER_STAGE_DETAILS" | translate }}'
                (click)="openPopUp(row)">
                  <mat-icon>format_list_numbered
                  </mat-icon>
                </button>
                <button mat-icon-button mat-sm-button color="primary" aria-label="reset" class="mr-16 color1"  
                (click)="btnRout(row.RequestTypeID,row.RequestID)"
                    title='{{ "VIEW" | translate }}'  [queryParams]="{debug: true}">
                  <mat-icon>visibility</mat-icon>
                </button> 
                </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
    </mat-card-content>
  </mat-card>
  
  