<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card mx-6">
      <div class="card-body p-12">

        <form method="post" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
          <p class="text-muted">Change Password</p>


          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-user"></i></span>
              </div>
              <input type="text" class="form-control" name="UserName" formControlName="UserName" placeholder="UserName"
                autocomplete="UserName" id="UserName" disabled="true">
            </div>
          </div>


          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>

              <input type="password" class="form-control" name="oldPassword" formControlName="oldPassword"
                id="oldPassword" placeholder="Password" autocomplete="old Password" maxlength="50" required>
            </div>
            <div *ngIf="!oldPassword.valid  && (oldPassword.dirty || oldPassword.touched)" class="alert alert-danger">
              <div [hidden]="!Password.errors.required">
                old Password is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>

              <input type="password" class="form-control" name="newPassword" formControlName="newPassword"
                id="newPassword" placeholder="newPassword" autocomplete="new-password" [pattern]="unamePattern"
                maxlength="50" required>
            </div>
            <div *ngIf="!newPassword.valid  && (newPassword.dirty || newPassword.touched)" class="alert alert-danger">
              <div [hidden]="!Password.errors.required">
                new Password is required
              </div>
              <div *ngIf="Password.errors?.pattern">
                Passwords must be at least 8 characters and contain at 3 of 4 of the following: upper case
                (A-Z), lower case (a-z), number (0-9) and special character (e.g. !@#$%^&*)
              </div>

            </div>
          </div>

          <div class="form-group">
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="icon-lock"></i></span>
              </div>
              <input id="cpassword" formControlName="cpassword" type="password" class="form-control"
                placeholder="Repeat password" autocomplete="new-password" required>
            </div>
            <div *ngIf="!cpassword.valid  && (cpassword.dirty || cpassword.touched)" class="alert alert-danger">
              <span *ngIf="cpassword.hasError('required')">Confirm Password is required.</span>
              <span *ngIf="cpassword.hasError('mustMatch')">Password Must Match.</span>
            </div>

          </div>


          <button id="register" type="submit" [disabled]="!updateForm.valid" class="btn btn-block primary">Update
            Password</button>
        </form>
      </div>

    </div>
  </div>
</div>