
<mat-card>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-xs="33" class="pr-16">
      <div class="pb-16">  
        <mat-label>{{ "SEARCH_ON" | translate }}   </mat-label>  
        <mat-radio-group aria-label="Select an option"  [(ngModel)]="this.myOrder" name="myOrder">
          <mat-radio-button value="0"  >{{ "MY_ORDERS" | translate }}  </mat-radio-button>
          <mat-radio-button value="1"> {{ "MY_EMPLOYEE" | translate }}  </mat-radio-button>
        </mat-radio-group>
      </div> 
      
      </div>

      <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
        <div class="pb-16"> 
          <mat-form-field appearance="fill" style="width:80%"> 
          <mat-label>{{ "ORDER_TYPE" | translate }}   </mat-label>  
          <mat-select required name="requestTypeID"   
           [(ngModel)]="this.requestTypeId">
            <mat-option *ngFor="let item of General" [value]="item.requestTypeID">
               {{(authService.currentLang=="1")? item.requestNameEn :item.requestNameAr }} 
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>   
        </div>

        <div fxFlex="100" fxFlex.gt-xs="25" class="pr-16">
          <div class="pb-16">  
            <mat-form-field appearance="fill" style="width:80%"> 
            <mat-label>{{ "ORDER_STATUS" | translate }}   </mat-label>  
            <mat-select required name="status"  
              [(ngModel)]="this.requestStatusCode">
              <mat-option *ngFor="let item of statusList" [value]="item.systemCode">
                 {{(authService.currentLang=="1")? item.descriptionEn :item.descriptionAr }} 
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>  
          </div>
          <div fxFlex="100" fxFlex.gt-xs="10" class="pr-16">
            <div class="pb-16">  
              <button 
              mat-raised-button 
              [disabled]="heroForm.invalid"
              color="primary" 
              class="background2"
              >{{ "SEARCH" | translate }} </button>
            </div>  
            </div>
          
  </div>
</form>
</mat-card>

 

<div class="ml-8 mr-8 mt-8 pb-16">
  <div class="mat-elevation-z8">
 
      <mat-table [dataSource]="dataSource" matSort >

        <ng-container matColumnDef="index">
          <mat-header-cell *matHeaderCellDef> {{ "INDEX" | translate }}  </mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;">{{i+1}}</mat-cell>
        </ng-container>

          <ng-container matColumnDef="RequsetPrivateNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "ORDER_NUMBER" | translate }}  </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="number"> {{row.RequsetPrivateNumber}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="RequestNameAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header>   {{ "ORDER_TYPE" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="orderType"> 
                {{(authService.currentLang=="1")? row.RequestNameEn : row.RequestNameAr }} 
              </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EnglishName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>   {{ "EMPLOYEE_NAME" | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="employeeName">
              {{(authService.currentLang=="1")? row.EnglishName : row.ArabicName }} 
               </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="CreatedDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "CREATED_DATE" | translate }}  </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="createdDate"> {{row.CreatedDate}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="StatusNameEN">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ "ORDER_STATUS" | translate }}  </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="status">  
              <mat-chip   [color]="row.StatusCode == 'CSR01' ? 'primary' : row.StatusCode == 'CSR04' ? 'warn' : 
              row.StatusCode == 'CSR02' ? 'accent' : row.StatusCode == 'CSR05' ? 'color2' : ''" selected>
                {{(authService.currentLang=="1")? row.StatusNameEN : row.StatusNameAR }} 
              </mat-chip>
            </mat-cell> 
          </ng-container>  

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>{{ 'ACTIONS' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row;" [style.color]="row.color" data-label="color"> 
          
              <button mat-icon-button mat-sm-button color="primary" aria-label="reset" class="mr-16"  
              (click)="btnRout(row.RequestTypeID,row.RequestID)"
                  title='{{ "VIEW" | translate }}'  [queryParams]="{debug: true}">
                <mat-icon>visibility</mat-icon>
              </button> 
            
            </mat-cell>

          </ng-container> 
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns; let cIndex = index;">
          </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[ 10, 25, 100]"></mat-paginator>
  </div>
</div>
