<mat-timepicker id="timepicker-example-2" mode="12h" #refTime withFormField="true" [withIcon]="true">
</mat-timepicker>

<!-- <mat-timepicker id="timepicker-example-2" [minDate]="minValue" [maxDate]="maxValue" mode="24h"
  placeholder="Time 24h with min, max and icon" withFormField="true" [withIcon]="true"
  [disableDialogOpenOnInputClick]="true">
</mat-timepicker>
<mat-timepicker id="timepicker-example-3" [minDate]="minValue" [maxDate]="maxValue" mode="12h"
  placeholder="Time 12h with min & max" withFormField="true" [disableDialogOpenOnInputClick]="true" [withIcon]="true">
</mat-timepicker> -->

<!-- https://stackblitz.com/github/IliaIdakiev/angular-material-timepicker?file=src%2Fapp%2Fapp.component.html -->