<!--  vertical-->

<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Create Order</ng-template>
    <mat-tab-group mat-align-tabs="center">

      <mat-tab label="Order">

        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class=" col-sm-3">
                  <strong>Purchases</strong> Form
                </div>
                <div class=" col-sm-6">
                  <actionBar [disabled]="!heroForm.form.valid" *ngIf="showActionColumn" (newAction)="newClick()"
                    (editAction)="edit()" (saveAction)="save()" (deleteAction)="delete()" (cancelAction)="reset()">
                  </actionBar>

                  <!-- <button class="btn btn-brand btn-spotify" *ngIf="this.newObj.purchases.isNeedAction" type="button"
                    (click)="DoneRequest()">
                    <i class="fa fa-check"></i>
                    <span>Approve</span>
                  </button>

                  <button class="btn btn-brand primary2" *ngIf="this.newObj.purchases.isNeedAction" type="button"
                    (click)="RejectedRequest()">
                    <i class="fa fa-xing"></i>
                    <span>Reject</span>
                  </button> -->

                  <button class="btn btn-brand btn-warning" type="button"
                    [routerLink]="['/Purchases/PrintInvoice/',PurchaseID]" [queryParams]="{debug: true}">
                    <i class="fa fa-print"></i>
                    <span>Print</span>
                  </button>
                  <app-MultiFilesManager (onUploadFinished)="uploadFinished($event)" [canAddRemove]="showActionColumn"
                    [text]="' '" [referenceID]="PurchaseID">
                  </app-MultiFilesManager>
                </div>

                <div class="col-sm-3">
                </div>
              </div>
            </div>
            <form #heroForm="ngForm" class="form-horizontal" enctype="multipart/form-data">

              <div class="card-body ">

                <div class="row">

                  <div class="form-group row col-md-6   col-sm-12">
                    <label class="col-md-3 col-form-label" for="Employee">Purchase Number</label>
                    <div class="col-md-9">
                      <input type="text" id="PurchaseNumber" name="textarea-input" class="form-control"
                        name="PurchaseNumber" [disabled]="true" [(ngModel)]="this.newObj.purchases.purchaseNumber"
                        #refPurchaseNumber="ngModel">
                    </div>
                  </div>

                  <div class="form-group row col-md-6   col-sm-12">
                    <label class="col-md-3 col-form-label" for="FromDate">Requested Date</label>
                    <div class="col-md-9">
                      <input type="text" id="CreatedDate" name="CreatedDate" class="form-control" name="CreatedDate"
                        [disabled]="true" [(ngModel)]="this.newObj.purchases.createdDate" required>
                    </div>
                  </div>

                </div>

                <div class="row">

                  <div class="form-group row col-md-6   col-sm-12">
                    <label class="col-md-3 col-form-label" for="PurchaseName">Name</label>
                    <div class="col-md-9">
                      <input type="text" id="PurchaseName" name="textarea-input" class="form-control"
                        name="PurchaseName" [disabled]="editMode" [(ngModel)]="this.newObj.purchases.purchaseName"
                        required #refPurchaseName="ngModel">

                      <div
                        *ngIf="!refPurchaseName.valid  && (refPurchaseName.dirty || refPurchaseName.touched) && !editMode"
                        class="alert alert-danger">
                        <div [hidden]="!refPurchaseName.errors.required">
                          Purchase Name is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row col-md-6   col-sm-12">
                    <label class="col-md-3 col-form-label" for="PerpareName">Perpare </label>
                    <div class="col-md-9">
                      <input type="text" id="PerpareName" name="PerpareName" class="form-control" name="PerpareName"
                        [disabled]="true" [(ngModel)]="this.newObj.purchases.userName" #refPerpareName="ngModel"
                        required>
                      <div
                        *ngIf="!refPerpareName.valid  && (refPerpareName.dirty || refPerpareName.touched) && !editMode"
                        class="alert alert-danger">
                        <div [hidden]="!refPerpareName.errors.required">
                          Purchase Name is required.
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="row">

                  <div class="form-group row col-md-6   col-sm-12">
                    <label class="col-md-3 col-form-label" for="StatusID">Status</label>
                    <div class="col-md-9">
                      <select name="StatusID" id="StatusID" class="form-control" [disabled]="true"
                        [(ngModel)]="this.newObj.purchases.statusID" #refStatus="ngModel" required>
                        <option *ngFor="let item of StatusRequest" [value]="item.systemCodeID">
                          {{item.descriptionEn}}
                        </option>
                      </select>
                      <div *ngIf="!refStatus.valid  && (refStatus.dirty || refStatus.touched) && !editMode"
                        class="alert alert-danger">
                        <div [hidden]="!refStatus.errors.required">
                          Status Name is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row col-md-6   col-sm-12">
                    <label class="col-md-3 col-form-label" for="Type">Reason </label>
                    <div class="col-md-9">

                      <select name="ReasonID" id="ReasonID" class="form-control" [disabled]="editMode"
                        [(ngModel)]="this.newObj.purchases.reasonID" #refReasonID="ngModel" required>
                        <option value=''>Please Select Reason</option>
                        <option *ngFor="let item of reasonType" [value]="item.systemCodeID">
                          {{item.descriptionEn}}
                        </option>
                      </select>

                      <div *ngIf="!refReasonID.valid  && (refReasonID.dirty || refReasonID.touched) && !editMode"
                        class="alert alert-danger">
                        <div [hidden]="!refReasonID.errors.required">
                          Reason is required.
                        </div>
                      </div>

                    </div>
                  </div>

                </div>


                <div class="row">
                  <div class="form-group row col-md-6   col-sm-12">
                    <label class="col-md-3 col-form-label" for="ProjecID">Project </label>
                    <div class="col-md-9">
                      <select required name="ProjecID" id="ProjecID" class="form-control" [disabled]="editMode"
                        [(ngModel)]="this.newObj.purchases.projectID" #refProjecID="ngModel">
                        <option value=''>Please Select Project</option>
                        <option *ngFor="let type of ProjectList" [value]="type.ID">
                          {{type.NameEN}}
                        </option>
                      </select>
                      <div *ngIf="!refProjecID.valid  && (refProjecID.dirty || refProjecID.touched) && !editMode"
                        class="alert alert-danger">
                        <div [hidden]="!refProjecID.errors.required">
                          Project is Request.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row col-md-6   col-sm-12">
                    <label class="col-md-3 col-form-label" for="Justification">Justification</label>
                    <div class="col-md-9">
                      <textarea id="textarea-input" name="textarea-input" rows="2" class="form-control"
                        name="Justification" [disabled]="editMode" [(ngModel)]="this.newObj.purchases.justification"
                        maxlength="50" #refJustification="ngModel" id="Justification" required>
                      </textarea>
                      <div
                        *ngIf="!refJustification.valid  && (refJustification.dirty || refJustification.touched) && !editMode"
                        class="alert alert-danger">
                        <div [hidden]="!refJustification.errors.required">
                          Justification is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group row offset-1   ">
                    <button class="btn primary2 mb-3 float-right  " [disabled]="editMode" *ngIf="!editMode"
                      (click)="onAddProduct()"><i class="fa fa-plus"></i> Add Items</button>
                  </div>
                </div>


                <div class="container-fluid">
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


                    <ng-container matColumnDef="itemNumber">
                      <th mat-header-cell *matHeaderCellDef>Number </th>
                      <td mat-cell *matCellDef="let element"> {{element.itemNumber}}</td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>


                    <ng-container matColumnDef="itemNameEN">
                      <th mat-header-cell *matHeaderCellDef> item Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.itemNameEN}} </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>


                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef> Description </th>
                      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>


                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef> Price (SR) </th>
                      <td mat-cell *matCellDef="let element"> {{element.price | currency:'SR'}} </td>
                      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency:'SR'}}</td>
                    </ng-container>

                    <ng-container matColumnDef="Qty">
                      <th mat-header-cell *matHeaderCellDef> Qty </th>
                      <td mat-cell *matCellDef="let element"> {{element.qty }} </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>



                    <ng-container matColumnDef="Actions">
                      <th mat-header-cell *matHeaderCellDef> Actions </th>
                      <td mat-cell *matCellDef="let element; let i = index;">
                        <button type="button" class="btn btn-brand primary2" *ngIf="this.newObj.purchases.isNeedOffer"
                          (click)="OpenOfferForm(element.purchasesDetailsID,element.itemNumber,true,this.newObj.purchases.isNeedSelectOffer)"><i
                            class="fa fa-envelope "></i>
                          <span>Add Offers</span> </button>

                        <button type="button" class="btn btn-brand primary2"
                          *ngIf="!this.newObj.purchases.isNeedOffer && this.newObj.purchases.typeID==8 && this.newObj.purchases.purchaseID"
                          (click)="OpenOfferForm(element.purchasesDetailsID,element.itemNumber,false,this.newObj.purchases.isNeedSelectOffer)"><i
                            class="fa fa-envelope "></i>
                          <span>Show</span> </button>

                        <button type="button" class="btn primary" [disabled]="editMode" *ngIf="showActionColumn"
                          (click)="onDelete(i)"><i class="fa fa-trash"></i></button>
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                  </table>

                </div>

              </div>

            </form>

          </div>
        </div>

      </mat-tab>

      <mat-tab label="Order stages" *ngIf="this.newObj.purchasesStageTransactionModels">

        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Stage Order</th>
                    <th>Action Name</th>
                    <th>User </th>
                    <th style="width: 150px;">Date </th>
                    <th>Status</th>
                    <th style="width: 450px;">Justification</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of this.newObj.purchasesStageTransactionModels;  let cIndex = index;">
                    <td>{{item.stageOrder}}</td>
                    <td>{{item.nameEN}}</td>
                    <td> {{item.fullName}}</td>
                    <td> {{item.actionDate}}</td>

                    <td *ngIf="item.isAction">
                      <span class="badge badge-success">Done</span>
                    </td>
                    <td *ngIf="!item.isAction">
                      <span class="badge badge-warning">pending</span>
                    </td>
                    <td> {{item.justification}}</td>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>

      </mat-tab>

    </mat-tab-group>

    <div>
      <button mat-button matStepperNext class="btn btn-md primary" *ngIf="PurchaseID">Next</button>
    </div>

  </mat-step>

  <div *ngFor="let item of this.newObj.purchasesStageTransactionModels;">

    <mat-step>
      <ng-template matStepLabel>Step {{item.stageOrder}} </ng-template>
      <br />

      <mat-label class="warning">{{item.nameEN}} </mat-label>
      <br />
      <mat-label class="warning"> (Full Name :{{item.fullName}})</mat-label>
      <br />
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Justification</mat-label>
        <input matInput placeholder="Justification" value={{item.justification}} formControlName="description2"
          [disabled]="!this.newObj.purchases.isNeedAction || item.stageOrder!=this.newObj.purchases.stageOrder"
          required>
      </mat-form-field>


      <div class="example-button-row">
        <button mat-button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-button mat-raised-button color="primary" matStepperNext>Next</button>

        <button mat-raised-button color="accent"
          *ngIf="this.newObj.purchases.isNeedAction && item.stageOrder==this.newObj.purchases.stageOrder"
          (click)="DoneRequest()">Approval</button>
        <button mat-raised-button color="warn"
          *ngIf="this.newObj.purchases.isNeedAction && item.stageOrder==this.newObj.purchases.stageOrder"
          (click)="RejectedRequest()">Reject</button>
      </div>

    </mat-step>

  </div>

</mat-horizontal-stepper>


<!-- ADD PRODUCT MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Add Items</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">

    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="mainGroup"><i class="fa fa-pencil-square-o"></i></span>
            </div>

            <select required name="itemType" id="itemType" class="form-control" [disabled]="editMode"
              (change)='SelectTypeProduct()' formControlName="itemTypeID">
              <option value=''>Please Select Type Product</option>
              <option *ngFor="let type of TypeProductList" [value]="type.systemCodeID">
                {{type.descriptionEn}}
              </option>
            </select>
          </div>

          <div *ngIf="!itemTypeID.valid  && (itemTypeID.dirty || itemTypeID.touched) && !editMode"
            class="alert alert-danger">
            <div [hidden]="!itemTypeID.errors.required">
              Select Type Product is required.
            </div>
          </div>

        </li>

        <li class="list-group-item" *ngIf="itemType==7">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="mainGroup"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <select name="mainGroup" id="mainGroup" class="form-control" (change)='SelectMainGroup()'
              formControlName="mainGroupID">
              <option value=''>Please Select Main Group</option>
              <option *ngFor="let item of productsListMainGroup" [value]="item.MainGroupID">
                {{item.MainGroupName}}
              </option>
            </select>
          </div>

          <div *ngIf="!mainGroupID.valid  && (mainGroupID.dirty || mainGroupID.touched)" class="alert alert-danger">
            <div [hidden]="!mainGroupID.errors.required">
              Select Main Group is required.
            </div>
          </div>
        </li>

        <li class="list-group-item" *ngIf="itemType==7">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="itemGroup"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <select name="itemGroup" id="itemGroup" class="form-control" (change)='SelectItemGroup()'
              formControlName="subGroupID">
              <option value=''>Please Select Group</option>
              <option *ngFor="let item of productsListSubGroup" [value]="item.SubGroupID">
                {{item.SubGroupName}}
              </option>
            </select>
          </div>

          <div *ngIf="!subGroupID.valid  && (subGroupID.dirty || subGroupID.touched)" class="alert alert-danger">
            <div [hidden]="!subGroupID.errors.required">
              Select Item Group is required.
            </div>
          </div>
        </li>

        <li class="list-group-item" *ngIf="itemType==7">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="itemNumber"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <select name="itemNumber" id="itemNumber" class="form-control" (change)='SelectItemNumber()'
              formControlName="itemNumber">
              <option value=''>Please Select Item</option>
              <option *ngFor="let emp of productsListAfterFilter" [value]="emp.Code">
                {{emp.NameEN}}
              </option>
            </select>
          </div>

          <div *ngIf="!itemNumber.valid  && (itemNumber.dirty || itemNumber.touched)" class="alert alert-danger">
            <div [hidden]="!itemNumber.errors.required">
              Select Item is required.
            </div>
          </div>
        </li>


        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input required formControlName="QTY" type="number" class="form-control" placeholder="QTY">
          </div>
          <div class="errorMessage" *ngIf="QTY.touched && QTY.errors">
            <span *ngIf="QTY.hasError('required')">Items QTY is required.</span>
            <span *ngIf="QTY.hasError('min')">Negative QTY Not allowed</span>
            <span *ngIf="QTY.hasError('max')">Max QTY allowes is 100</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <input required formControlName="Price" type="number" class="form-control" placeholder="Price">
          </div>
          <div class="errorMessage" *ngIf="Price.touched && Price.errors">
            <span *ngIf="Price.hasError('required')">Items Price is required.</span>
            <span *ngIf="Price.hasError('min')">Negative Price Not allowed</span>
            <span *ngIf="Price.hasError('max')">Max Price allowes is 1000000</span>
          </div>
        </li>

        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productDescription"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <textarea formControlName="description" class="form-control" rows="3"
              placeholder="Describe the Item - Max 150 Characters" aria-label="Description"
              aria-describedby="productDescription"></textarea>
          </div>
          <div class="errorMessage" *ngIf="description.touched && description.errors">
            <span *ngIf="description.hasError('required')">Items Description is required.</span>
            <span *ngIf="description.hasError('maxlength')">Only 150 characters allowed for Items
              Description.</span>
          </div>
        </li>
        <li class="list-group-item">
          <button [disabled]="insertForm.invalid" class="btn primary btn-block" type="submit">ADD</button>
        </li>
      </ul>
    </form>

  </div>
</ng-template>



<ng-template #templateConfirm>
  <div class="modal-header">
    <h4 class="modal-title">Justification</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form [formGroup]="actionForm" (ngSubmit)="ActionConfirmSubmit(myform)" #myform="ngForm">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="productDescription"><i class="fa fa-pencil-square-o"></i></span>
            </div>
            <textarea formControlName="description2" class="form-control" rows="3" placeholder="Justification"
              aria-label="Description" aria-describedby="productDescription"></textarea>
          </div>
          <div class="errorMessage" *ngIf="description.touched && description.errors">
            <span *ngIf="description.hasError('required')">Justification is required.</span>
            <span *ngIf="description.hasError('maxlength')">Only 150 characters allowed for Justification.</span>
          </div>
        </li>
        <li class="list-group-item">
          <button [disabled]="actionForm.invalid" class="btn primary btn-block" type="submit">{{actionName}}</button>
        </li>
      </ul>
    </form>
  </div>
</ng-template>

<!-- {{heroForm.status }}
{{diagnostic}} -->