.card-header{
    max-height: 42px;
}
table {
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
 
  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: red !important; 
 }