<body size="A4" id="Invoice">
  <div class="container-fluid" *ngIf="load">

    <header>

      <address>
        <p style="font-family: 'Roboto Slab', serif; font-size:20px;">{{displayDate}}</p>
        <p style="font-family: 'Roboto Slab', serif; font-size:20px;">MASIC Investment Co.</p>

      </address>
      <!-- <span><img alt="" src="https://dummyimage.com/120x80/c1c1c1/000000.png&text=logo+here"> </span> -->
    </header>

    <article>
      <address class="row1">

        <table class="meta" style="float:left; width: 100%;" id="tableNoBorder">
          <tr>
            <th style="width: 15%;"><span>Our Ref. : </span></th>
            <td><span>{{this.newObj.purchases.purchaseNumber}}</span></td>
            <th style="width: 15%;"><span>Yardi No.</span></th>
            <td style="width: 15%;"><span>1001</span></td>
          </tr>
          <tr>
            <th><span>Attention :</span></th>
            <td style="padding:3px 5px"><input type="text" id="datepicker" placeholder="Select Date"></td>
            <th style="width: 15%;"><span>PR No. </span></th>
            <td style="width: 15%;"><span>1001</span></td>
          </tr>
          <tr>
            <th><span>Subject :</span></th>
            <td colspan="3">Offer-Supply and Install Required Toilet Brush & Hook Accessories Materials to be use in a
              New Project, in Masic Head Office. </td>
          </tr>
        </table>

      </address>

      <strong>Dear Mr. </strong><br>
      <p style="padding-top: 15px;">In Reference to the above-mentioned subject, kindly we need your approval for Supply
        and Install Required Toilet Brush & Accessories Materials to be use in a New Project, in Masic Head Office, we
        are glad to present to you our offer, which comprises of the following:</p>

      <p style="margin-top: 20px;text-align: center;"> <strong>Scope of work: </strong> Supply and Install Required
        Toilet Brush & Hook Accessories Materials. </p>

      <table class="inventory">

        <thead>
          <tr>
            <th><span>No.</span></th>
            <th><span>DIRECT MATERIAL</span></th>
            <th><span>Unit</span></th>
            <th><span>Quantity</span></th>
            <th><span>Amount</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.newObj.purchasesDetails;  let cIndex = index;" class="text-center">
            <td><span> {{cIndex+1}}</span></td>
            <td><span> {{item.description}}</span></td>
            <td> <span>unit</span></td>
            <td><span>{{item.qty}}</span></td>
            <td> <span>{{item.qty * item.price}}</span><span data-prefix> SAR</span></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" style="text-align: center"><strong>For MEEM Co 10%</strong></td>
            <td>$180</td>
          </tr>
        </tfoot>
      </table>

      <table class="balance">
        <tr>
          <th><span>Total Price</span></th>
          <td><span data-prefix>&#8377;</span> <span>600.00</span></td>
        </tr>
      </table>

    </article>

    <p> <strong>Validity :</strong> This offer is valid for one week.</p> <br>

    <strong>Financial offer:</strong>
    <ul class="a">
      <li>2000</li>
      <li>Payment is 100% upon Installation completion.</li>
    </ul>

    <ul class="b">
      <li> Please acknowledge approval by affixing signature below hereto and return in order to proceed with the
        necessary work.</li>
      <li> Should you require any further clarifications or should you have any further requests, please don’t hesitate
        to contact us.</li>

    </ul>

    <section class="row footer">
      <div class="col-sm-6">
        <strong>Regards,</strong><br>
        <p style="padding-top: 20px;">For Mahindrakar Agencies</p>
        <p style="padding-top: 20px;">Rajkumar Mahindrakar<p>
      </div>

      <div class="col-sm-5 " style="text-align: center;border: 1px solid #cec7c7;">
        <strong>Approval</strong><br>
        <div style="text-align: left;">
          <p style="padding-top: 20px;">Name :</p>
        </div>
        <div style="text-align: left;">
          <p>Signiater :<p>
        </div>
      </div>
    </section>

    <aside class="central_btn">
      <button (click)="myFunction()" class="btn  btn-primary " style="cursor:pointer" type="button">
        Print </button>

      <!--       <button id="cmd"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Save PDF</button> -->
    </aside>

  </div>


  <script>

  </script>