.mat-column-employeeNameEn,
.mat-column-fullName {
  flex: none;
  width: 30% !important;
}
.mat-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.mat-row:not(.example-expanded-row):active {
  background: #efefef;
}
