<mat-card class="p-0 ">
  <mat-card-title class="">
    <div class="card-title-text">Create User</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <form method="post" [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <div fxLayout="row wrap">

        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput placeholder=' {{ "SELECT_EMPLOYEE" | translate }}' class="form-control"
                aria-label="Employee" [matAutocomplete]="auto" formControlName="EmployeeID" required name="Employee"
                id="EmployeeID">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="getTitle.bind(this)">
                <mat-option *ngFor="let emp of filteredEmployee | async " [value]="emp.employeeID">
                  <small>{{emp.englishName}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <small *ngIf="!EmployeeID.valid  && (EmployeeID.dirty || EmployeeID.touched)" class="form-error-msgr">
              <small [hidden]="!EmployeeID.errors.required" class="form-error-msg">
                {{ "EMPLOYEE_IS_REQUIRED" | translate }}
              </small>
            </small>

          </div>


          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput type="text" name="UserName" id="UserName" required formControlName="UserName"
                placeholder="UserName" value="">
            </mat-form-field>
            <small *ngIf="!UserName.valid  && (UserName.dirty || UserName.touched)" class="form-error-msgr">
              <small *ngIf="UserName.hasError('required')" class="form-error-msg">UserName is required.</small>
              <small *ngIf="UserName.hasError('maxlength')" class="form-error-msg">Only 10 characters allowed for
                UserName.</small>
              <small *ngIf="UserName.hasError('minlength')" class="form-error-msg">Atleast 5 characters needed for
                UserName.</small>
            </small>

          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput type="email" class="form-control" maxlength="50" placeholder="Email" autocomplete="Email"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="EmailId" formControlName="EmailId"
                maxlength="50" id="EmailId" required>
            </mat-form-field>
            <small *ngIf="insertForm.controls['EmailId'].hasError('required') && insertForm.controls['EmailId'].touched"
              class="form-error-msg"> Email is required </small>
            <small *ngIf="insertForm.controls['EmailId'].hasError('EmailId') && insertForm.controls['EmailId'].touched"
              class="form-error-msg"> Invaild email address </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput type="text" class="form-control" name="Contactno" formControlName="Contactno"
                placeholder="Phone Number" autocomplete="Phone Number" maxlength="10" name="Contactno" id="Contactno"
                required>
            </mat-form-field>

            <small *ngIf="!Contactno.valid  && (Contactno.dirty || Contactno.touched)" class="form-error-msgr">
              <small [hidden]="!Contactno.errors.required" class="form-error-msg">
                Contact Number is required
              </small>
              <small *ngIf="Contactno.hasError('maxlength')" class="form-error-msg">Only 20
                characters allowed for
                Contact.</small>
              <small *ngIf="Contactno.hasError('minlength')" class="form-error-msg">Atleast 8
                characters needed for
                Contact
              </small>
            </small>

          </div>
        </div>

        <div fxFlex="100" fxFlex.gt-xs="50">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput type="text" class="form-control" name="FullName" maxlength="50" formControlName="FullName"
                id="FullName" maxlength="50" placeholder="FullName" autocomplete="FullName" required>
            </mat-form-field>
            <small *ngIf="!FullName.valid  && (FullName.dirty || FullName.touched)" class="form-error-msgr">
              <small *ngIf="FullName.hasError('required')" class="form-error-msgr">FullName is required.</small>
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput type="password" class="form-control" name="Password" formControlName="Password"
                id="Password" placeholder="Password" autocomplete="new-password" [pattern]="unamePattern" maxlength="50"
                required>
            </mat-form-field>
            <small *ngIf="!Password.valid  && (Password.dirty || Password.touched)" class="form-error-msgr">
              <small [hidden]="!Password.errors.required" class="form-error-msgr">
                Password is required
              </small>
              <small *ngIf="Password.errors?.pattern" class="form-error-msgr">
                Passwords must be at least 8 characters and contain at 3 of 4 of the following: upper case
                (A-Z), lower case (a-z), number (0-9) and special character (e.g. !@#$%^&*)
              </small>
            </small>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput id="cpassword" formControlName="cpassword" type="password" class="form-control"
                placeholder="Repeat password" autocomplete="new-password" required>
            </mat-form-field>
            <small *ngIf="!cpassword.valid  && (cpassword.dirty || cpassword.touched)" class="form-error-msgr">
              <small *ngIf="cpassword.hasError('required')" class="form-error-msg">Confirm Password is required.</small>
              <small *ngIf="cpassword.hasError('mustMatch')" class="form-error-msg">Password Must Match.</small>
            </small>
          </div>

          <div class="pb-1 pt-05">
            <mat-checkbox name="Status" formControlName="Status" id="Status" class="pb-1">Active</mat-checkbox>
          </div>
        </div>
      </div>

      <button mat-raised-button id="register" type="submit" color="primary" [disabled]="insertForm.invalid"
        class="btn btn-block primary">Create
        Account</button>
    </form>
  </mat-card-content>
</mat-card>