

<mat-card class="p-0">
  <mat-card-title class="">
      
      <mat-divider></mat-divider>
       
        <actionBar  
         [disabled]="!heroForm.form.valid" 
          (newAction)="newClick()"
          (editAction)="edit()" 
          (saveAction)="save()" 
          (deleteAction)="delete()"
           (cancelAction)="reset()" 
           [referenceID]="requestID"
           [showPrint]="false"
           (onUploadFinishedFire)="uploadFinished($event)" 
           >
          </actionBar> 
          <mat-divider></mat-divider>
       
  </mat-card-title>
  <mat-card-content>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm" novalidate>
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-16"> 
 
                    <div class="pb-16" > 
                      <employeeList   (employeeSelect)="employeeSelect($event)"
                      [empoyeeList]= "this.empoyeeList" 
                      [employee]="this.employeeID" [editMode]="true">
                    </employeeList>   
                    </div>

                    <div class="pb-16">  
                      <mat-form-field class="full-width" appearance="fill"> 
                        <mat-label> {{ "FROM_DATE" | translate }}   </mat-label> 
                          <input 
                          matInput
                          name="FromDate" 
                          id="FromDate"  
                          #refFromDate="ngModel"
                          [(ngModel)]="bsFromDate" 
                          required  
                          [disabled]="editMode"
                          [matDatepicker]="appDatepicker">
                        
                          <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle> 
                          <mat-datepicker touchUi #appDatepicker ></mat-datepicker>  
                      </mat-form-field>
                     
                    <small *ngIf="!refFromDate.valid  && (refFromDate.dirty || refFromDate.touched) && !editMode" class="form-error-msg">
                      <small [hidden]="!refFromDate.errors.required">
                        {{ "FILED_IS_REQUIRED" | translate }}
                      </small>
                    </small>
                  </div> 
 
    
                  <div class="pb-16">   
                    <input placeholder='{{ "TIME" | translate }}' aria-label="Time"  
                    [disabled]="editMode"
                     [ngxTimepicker]="fullTime" [format]="24"  
                    id="time" name="time" [(ngModel)]="this.time" #reftime="ngModel"   
                    readonly required>
                    <ngx-material-timepicker #fullTime></ngx-material-timepicker>

                    <small *ngIf="!reftime.valid  && (reftime.dirty || reftime.touched) && !editMode" class="form-error-msg">
                      <small [hidden]="!reftime.errors.required">
                        {{ "FILED_IS_REQUIRED" | translate }}
                      </small>
                    </small>
               </div> 
         
           
              </div> 

              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-16"> 

                <div class="pb-16" >
                  <mat-form-field class="full-width" appearance="fill"> 
                     <input
                     matInput
                     name="requsetPrivateNumber"
                     id="requsetPrivateNumber" 
                     placeholder=" {{ 'ORDER_NUMBER' | translate }} "
                     [disabled]="true"
                     [(ngModel)]="this.newObj.request.requsetPrivateNumber"  
                     >
                 </mat-form-field>  
               </div>

                <div class="pb-16">
                  <mat-form-field class="full-width" appearance="fill">   
                  <mat-label>{{ "REASON" | translate }}   </mat-label>  
                  <mat-select required name="Reason" #refReason="ngModel"   id="reason" 
                  [disabled]="editMode"
                   [(ngModel)]="this.amendmentReasonCode">
                    <mat-option *ngFor="let item of emendmentReason" [value]="item.systemCode">
                       {{(authService.currentLang=="1")? item.descriptionEn :item.descriptionAr }} 
                    </mat-option>
                  </mat-select>
                
                  <small *ngIf="!refReason.valid  && (refReason.dirty || refReason.touched) && !editMode" class="form-error-msg">
                    <small [hidden]="!refReason.errors.required">
                      {{ "FILED_IS_REQUIRED" | translate }}
                    </small>
                  </small>
                </mat-form-field>
              </div> 

              <div class="pb-16">
                <mat-label  >  {{ "TYPE_ACTION" | translate }}</mat-label>
                <mat-radio-group aria-label="Select an option"                 
                [disabled]="editMode" name="Type" required
                [(ngModel)]="this.type">
                <mat-radio-button value="CheckIn"  > {{ "CHECKIN" | translate }}  
                </mat-radio-button>
                <mat-radio-button value="CheckOut"  > {{ "CHECKIN" | translate }}
                </mat-radio-button>
              </mat-radio-group>  
            </div>

                </div>  

                <div fxFlex="100" fxFlex.gt-xs="100" class="pr-16"> 
                  <div class="pb-16">
                    <mat-form-field class="full-width" appearance="fill">   
                      <mat-label>{{ "JUSTIFICATION" | translate }} </mat-label>
                        <textarea matInput 
                        id="textarea-input"   rows="2" class="form-control" name="Justification"
                        [disabled]="editMode"
                           [(ngModel)]="this.justification" maxlength="500"
                          #refJustification="ngModel" id="Justification" required>
                          </textarea>  
                          <small *ngIf="!refJustification.valid  && (refJustification.dirty || refJustification.touched) && !editMode" class="form-error-msg">
                            <small [hidden]="!refJustification.errors.required">
                              {{ "FILED_IS_REQUIRED" | translate }}
                            </small>
                          </small>  
                    </mat-form-field>
                  </div> 
                </div>
          </div>
           
      </form>
  </mat-card-content>
</mat-card>

<!-- <div style="float: right; width:50%;">
  <h3>Form Status</h3>
  <b>status : </b>{{templateForm.status}}
  <b>valid : </b>{{templateForm.valid}}
  <b>invalid : </b>{{templateForm.invalid}}
  <b>touched : </b>{{templateForm.touched}}
  <b>untouched : </b>{{templateForm.untouched}}
  <b>pristine : </b>{{templateForm.pristine}}
  <b>dirty : </b>{{templateForm.dirty}}
  <b>disabled : </b>{{templateForm.disabled}}
  <b>enabled : </b>{{templateForm.enabled}}

  <p>Selected range: {{bsFromDate}}</p>

 
  <h3>Form Value</h3>
  {{heroForm.value | json }}
 
</div> -->
  