<button type="button" class="btn   btn-md primary " id="btnNew" (click)="newClick()" [disabled]="getStatus(0)"><i
        class="fa fa-plus"></i>
    New</button>
<button type="button" class="btn   btn-md primary" id="btnEdit" (click)="editClick()" [disabled]="getStatus(1)"><i
        class="fa fa-edit"></i>
    Edit</button>

<button type="submit" class="btn   btn-md  primary2" id="btnSave" (click)="saveClick()" value="Submit"
    [disabled]="getStatus(2)"><i class="fa fa-save"></i>
    Save</button>
<button type="button" class="btn   btn-md primary" id="btnDelete" (click)="deleteClick()" [disabled]="getStatus(3)"><i
        class="fa fa-trash"></i>
    Delete</button>
<button type="button" class="btn btn-md  primary" id="btnCancel" (click)="cancelClick()" [disabled]="getStatus(4)"><i
        class="fa fa-ban"></i>
    Cancel</button>