<div class="app-body">
  <main class="main d-flex align-items-center">

    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text">Welcome To meem </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card-group">
            <div class="card p-4">

              <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">

                <h2>Login</h2>
                <p class="text-muted">Sign In to your account</p>
                <!-- <div class="input-group mb-3">
                  <div class="view">
                    <img src="https://mdbootstrap.com/img/Photos/Others/nature-sm.jpg" class="img-fluid  " alt="Logo">
                  </div>
                </div> -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>

                  <input autofocus type="text" class="form-control" name="Username" placeholder="Username"
                    autocomplete="username" [(ngModel)]="LoginModel.Username" maxlength="50" #refUsername="ngModel"
                    id="Username" required>

                  <!-- <div *ngIf="!refUsername.valid  && (refUsername.dirty || refUsername.touched)"
                      class="alert alert-danger">
                      <div [hidden]="!refUsername.errors.required">
                        Username is required
                      </div>
                    </div> -->
                </div>

                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>

                  <input autofocus type="password" class="form-control" name="Password" placeholder="Password"
                    autocomplete="current-password" [(ngModel)]="LoginModel.Password" maxlength="50"
                    #refPassword="ngModel" id="Password" required>
                  <!-- <div *ngIf="!refPassword.valid  && (refPassword.dirty || refPassword.touched)"
                      class="alert alert-danger">
                      <div [hidden]="!refPassword.errors.required">
                        Password is required
                      </div>
                    </div> -->
                </div>

                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn primary px-4" [disabled]="!f.form.valid">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </form>

            </div>

          </div>
        </div>

      </div>
    </div>

  </main>
</div>