<!-- <label class="col-md-3 col-form-label" for="Employee">{{labelName}}</label> -->
<div class="col-md-9">
  <select [required]="required" name="Employee" #refUserId="ngModel" class="form-control" (change)='SelectEmoployee()'
    [disabled]="editMode" [(ngModel)]="employeeID">
    <option value=''>Please select Employee</option>
    <option *ngFor="let emp of empoyeeList" [value]="emp.employeeID">
      {{emp.englishName}}
    </option>
  </select>
  <div *ngIf="!refUserId.valid  && (refUserId.dirty || refUserId.touched)" class="alert alert-danger">
    <div [hidden]="!refUserId.errors.required">
      employee is required.
    </div>
  </div>
</div>

<!-- <mat-form-field>
  <mat-label>{{labelName}}</mat-label>
  <input matInput placeholder='Select Employee' aria-label="Employee" [matAutocomplete]="auto" required name="Employee"
    #refUserId="ngModel" [(ngModel)]="employeeID" id="EmployeeID">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let emp of empoyeeList  " [value]="emp.employeeID">
      <small>{{emp.englishName}}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<small *ngIf="!refUserId.valid  && (refUserId.dirty || refUserId.touched)" class="form-error-msgr">
  <small [hidden]="!refUserId.errors.required" class="form-error-msg">
    {{ "EMPLOYEE_IS_REQUIRED" | translate }}
  </small>
</small> -->